PAYMENTS_MERCHANT_NAME=
PAYMENTS_MODE=test
PUBLIC_SITE_URL=
STRIPE_ACCOUNT_ID=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_PRIMAVERA=
STRIPE_PRICE_PRIMAVERA_AMOUNT_MINOR=2400
STRIPE_PRICE_PRIMAVERA_CURRENCY=eur
STRIPE_PRICE_MIKE_VERA=
STRIPE_PRICE_MIKE_VERA_AMOUNT_MINOR=2600
STRIPE_PRICE_MIKE_VERA_CURRENCY=eur
STRIPE_PRICE_LAVANDE_SPEZIA=
STRIPE_PRICE_LAVANDE_SPEZIA_AMOUNT_MINOR=2500
STRIPE_PRICE_LAVANDE_SPEZIA_CURRENCY=eur
